.contact-preview {
    width: 200px;
    height: 200px;
    border-radius: 3px;
    box-shadow: -3px 3px 15px #00000026;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 70%;
    overflow-y: hidden;
    cursor: pointer;
}